@model ImageResizeWebApp.Models.TranslatedLetter

<main>
	<div class="container">
		<header class="d-flex flex-wrap py-3 mb-4 border-bottom">
			<span class="fs-4">@Html.DisplayFor(model => model.BlobName)</span>
		</header>
	</div>
	<div class="container">
		<img src="@Model.ImageUrl" height="500" />
	</div>
	<div class="container">
		<dl class="row">
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.ImageUrl)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.ImageUrl)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.BlobName)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.BlobName)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.BlobNameWithJsonExtension)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.BlobNameWithJsonExtension)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.TranslatedText)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.TranslatedText)
			</dd>
		</dl>
	</div>
	<div class="container">
		<a href="/">Back to List</a>
	</div>
</main>
